<div class="ll-feature bg-warn pt-12 pb-14">
    <div class="container">
        <div class="grid grid-cols-12">
            <div class="_title-wrap bg-black col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3 sm:row-span-3">
                <h2 class="_title text-white">
                    Những sản phẩm hữu cơ sạch từ Hector
                </h2>
            </div>
            <div class="flex _feature mt-8 col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3">
                <div class="flex-none w-16 text-center">
                    <mat-icon>check</mat-icon>
                </div>
                <div class="flex-grow">
                    <h2 class="font-black text-black">Quy trình sản suất</h2>
                </div>
            </div>
            <div class="flex _feature mt-8 col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3">
                <div class="flex-none w-16 text-center">
                    <mat-icon>check</mat-icon>
                </div>
                <div class="flex-grow">
                    <h2 class="font-black text-black">Tư vấn sử dụng</h2>
                </div>
            </div>
            <div class="flex _feature mt-8 col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3">
                <div class="flex-none w-16 text-center">
                    <mat-icon>check</mat-icon>
                </div>
                <div class="flex-grow">
                    <h2 class="font-black text-black">Tại sao chọn Hector</h2>
                </div>
            </div>
            <div class="flex _feature mt-8 col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3">
                <div class="flex-none w-16 text-center">
                    <mat-icon>check</mat-icon>
                </div>
                <div class="flex-grow">
                    <h2 class="font-black text-black">Đối tác khách hàng</h2>
                </div>
            </div>
            <div class="flex _feature mt-8 col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3">
                <div class="flex-none w-16 text-center">
                    <mat-icon>check</mat-icon>
                </div>
                <div class="flex-grow">
                    <h2 class="font-black text-black">Khuyến mãi</h2>
                </div>
            </div>
            <div class="flex _feature mt-8 col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3">
                <div class="flex-none w-16 text-center">
                    <mat-icon>check</mat-icon>
                </div>
                <div class="flex-grow">
                    <h2 class="font-black text-black">Hỗ trợ khách hàng</h2>
                </div>
            </div>
        </div>
    </div>
</div>