<div [class.example-is-mobile]="isLessThenLargeDevice">
    <mat-sidenav-container class="kl-sidenav-container">
      <mat-sidenav #sidenav [opened]="isSidenavExpand && isLessThenLargeDevice" [mode]="'over'" [fixedInViewport]="isLessThenLargeDevice">
      </mat-sidenav>
      <mat-sidenav-content>
        <app-header (toggleSidenav)="toggleSidenav()" [topFixed]="true"></app-header>
        <main><router-outlet></router-outlet></main>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>