<div class="ll-hero">
    <div class="container">
      <div class="grid grid-cols-12 gap-x-6">
        <div class="col-span-12 md:col-span-6 lg:col-span-7 xxl:col-span-6 ll-hero-text">
          <h1 class="lg:mt-12 text-white font-bold">
            Đông trùng hạ thảo Hector 
          </h1>
          <h1 class="text-white font-italic">Sản phẩm được nghiên cứu bởi Lavite</h1>
          <div class="flex flex-wrap items-center mt-4">
            <!-- <div class="inline-block mr-5">Offer:</div> -->
            <a href="" class="rounded-full bg-white px-5 py-2 bg-opacity-40 mr-3">Phân phối</a>
            <a href="" class="rounded-full bg-white px-5 py-2 bg-opacity-40 mr-3">Hữu cơ</a>
            <a href="" class="rounded-full bg-white px-5 py-2 bg-opacity-40">Hector</a>
          </div>
        </div>
        <div class="col-span-12 md:col-span-6 lg:col-span-5 xxl:col-span-6 ll-image mt-10 md:mt-0">
          <img class="ml-auto" src="assets/images/hero.png" alt="Hero" />
        </div>
      </div>
    </div>
  </div>
  
  <div class="ll-service-area">
    <div class="container">
      <h1 class="ll-service__title text-center font-extralight mb-12">Dinh dưỡng-Tin cậy-Hiệu quả</h1>
      <div class="ll-services grid grid-cols-12 gap-8">
        <div class="ll-service col-span-12 sm:col-span-6 lg:col-span-3">
          <div class="number">01</div>
          <h3 class="mb-2">Hector</h3>
          <p>Đông trùng hạ thảo Hector.</p>
        </div>
        <div class="ll-service col-span-12 sm:col-span-6 lg:col-span-3">
          <div class="number">02</div>
          <h3 class="mb-2">Unison</h3>
          <p>Sản phẩm của Unison.</p>
        </div>
        <div class="ll-service col-span-12 sm:col-span-6 lg:col-span-3">
          <div class="number">03</div>
          <h3 class="mb-2">Lavite</h3>
          <p>Sản phẩm Lavite nghiên cứu.</p>
        </div>
        <div class="ll-service col-span-12 sm:col-span-6 lg:col-span-3">
          <div class="number">04</div>
          <h3 class="mb-2">Others</h3>
          <p>Sản phẩm Lavite phân phối</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="ll-about mt-28 mb-28">
    <div class="container">
      <div class="flex flex-wrap">
        <div class="lg:w-1/2 lg:order-last">
          <a href="javascript:void(0)" class="ll-about__img relative block">
            <img src="assets/images/about.jpg" alt="About" />
            <mat-icon class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2">play_circle_filled</mat-icon>
          </a>
        </div>
        <div class="lg:w-1/2 lg:pr-10 mt-8 lg:mt-0 ll-about__text">
          <h2 class="font-medium">Mang đến sản phẩm tốt cho sức khỏe</h2>
          <div class="mt-12">
            <h5 class="font-medium text-black">Hector</h5>
            <p class="mt-1">Hector là thương hiệu các sản phẩm thực phẩm hỗ trợ sức khoẻ có thành phần chính là đông trùng hạ thảo, là một thương hiệu của Cty TNHH Lavite</p>
          </div>
          <!-- <div class="mt-8">
            <h5 class="font-medium text-black">Quy trình sản xuất</h5>
            <p class="mt-1">Đông trùng hạ thảo Hector được sản xuất trong quy trình khép kín đạt chuẩn chất lượng, được kiểm soát và kiểm tra định kỳ.</p>
          </div>
          <div class="mt-8">
            <h5 class="font-medium text-black">Tư vấn về sử dụng</h5>
            <p class="mt-1">Khi Quý khách hàng chọn mua sản phẩm từ Hector sẽ có đội ngũ nhân viên giàu kinh nghiệm hướng dẫn Quý khách chọn mua sản phẩm phù hợp cũng như cách sử dụng Đông Trùng Hạ Thảo sao cho hiệu quả nhất.</p>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  
  <app-home-products></app-home-products>
  
  <div class="ll-process-area bg-black mt-16">
    <div class="container">
      <h2 class="ll-process__title text-center text-warn mb-8">Mua hàng</h2>
      <div class="ll-processes grid grid-cols-12 gap-8">
        <div class="ll-process col-span-12 sm:col-span-6 lg:col-span-3">
          <div class="number">01</div>
          <h3 class="mb-2 text-warn font-bold">Choose</h3>
          <p class="text-white">Chọn sản phẩm bạn phù hợp</p>
        </div>
        <div class="ll-process col-span-12 sm:col-span-6 lg:col-span-3">
          <div class="number">02</div>
          <h3 class="mb-2 text-warn font-bold">Đặt hàng</h3>
          <p class="text-white">Chọn sản phẩm và bấm mua hàng</p>
        </div>
        <div class="ll-process col-span-12 sm:col-span-6 lg:col-span-3">
          <div class="number">03</div>
          <h3 class="mb-2 text-warn font-bold">Thanh toán</h3>
          <p class="text-white">Chọn phương thức thanh toán</p>
        </div>
        <div class="ll-process col-span-12 sm:col-span-6 lg:col-span-3">
          <div class="number">04</div>
          <h3 class="mb-2 text-warn font-bold">Nhận hàng</h3>
          <p class="text-white">Gửi thông tin liên hệ của bạn.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="pt-20 ll-starter">
    <div class="container">
      <h2 class="text-center mb-16 xl:mb-0">Trở thành đại lý phân phối ?</h2>
      <div class="grid xl:grid-cols-2 gap-x-8 mt-10">
        <div class="ll-starter__card px-5 grid grid-cols-12 place-items-center">
          <div class="col-span-5 px-5">
            <img class="-mt-14" src="assets/images/starter-01.png" alt="" />
          </div>
          <div class="py-5 col-span-7">
            <h4 class="text-white mb-4">Người bán hàng</h4>
            <p class="text-white mb-7">
              Trở thành một phần của Hector mang sản phẩm đi khắp muôn nơi.
            </p>
            <a [routerLink]="['/auth/signup']" routerLinkActive="router-link-active" mat-flat-button color="warn" class="font-semibold"
              >Tham gia ngay</a
            >
          </div>
        </div>
        <div class="ll-starter__card px-5 grid grid-cols-12 place-items-center mt-16 xl:mt-0">
          <div class="col-span-5 px-5">
            <img class="-mt-14" src="assets/images/starter-02.png" alt="" />
          </div>
          <div class="py-5 col-span-7 order-first text-right">
            <h4 class="text-white mb-4">Đại lý phân phối</h4>
            <p class="text-white mb-7">
              Đón nhận những ưu đãi đặc biệt giành cho nhà phân phối.
            </p>
            <a [routerLink]="['/auth/signup']" routerLinkActive="router-link-active" mat-flat-button color="warn" class="font-semibold"
              >Tham gia ngay</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  